{% extends 'base.twig' %}

{% block stylesheets %}
{{ asset_css('selene.css') }}
{% endblock %}

{% block content %}
<div class="content">
  <div class="bg-danger pull-right">
    <blockquote cite="Chuz">
      <p class="lead">
        Supersecret Squirrel Stuffz
      </p>
    </blockquote>
    <p>
      You are not allowed to see this content, please go back to the previous page.
    </p>
  </div>
</div>
{% endblock %}
